torch>=2.1.0
uvicorn>=0.20.0
fastapi>=0.110.0
transformers>=4.39.3
text2vec>=1.2.9
sse-starlette>=2.0.0
accelerate>=0.29.2
sentencepiece>=0.2.0
keybert>=0.8.4
jieba>=0.42.1
oauthlib>=3.0.0
pydantic>=1.10.4